*{
  box-sizing: border-box;
}
body{
  font-family: "微软雅黑"
}
.menu-wrap{
  width: 100%;
  max-width: 1090px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu-wrap a:hover{
  text-decoration: none;
}

.short-line{
  width: 4em;
  height: 3px;
  background-color: red;
  margin: 0 auto;
}
.search-more{
  font-size: 18px;
  background-color: #e7210e;
  color:#fff;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.search-more:hover{
  text-decoration: none;
  color:#fff;
}

.news-card{
  width: 100%;
  padding: 10px 35px;
  float: left;
}
@media(min-width:760px){
  .news-card{
    width: 50%;
  }
}
.news-card h3{
  color:#fff;
  background-color: #e7210e;
  line-height: 2.0;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 20px;
}
.news-card p{
  color:#282828;
  line-height: 1.8;
}
.news-card img{
  box-shadow:0 0 10px 3px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: auto;
}
